:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

body{
    margin: 0px;
    font-family: "Inter";
    background-color: var(--Off-Black);
    align-items: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    text-align: center;
    border: 1px white solid;
    background-color: var(--Dark-Grey);
    border-radius: 10px;
    border: none;
    padding-bottom: 20px;
    padding-top: 30px;
    max-width: 25%;
    margin: 0 auto;
}


h1, p{
    color: var(--White);
}

img{
    max-width: 20%;
    border-radius: 50%;
}

button{
    width: 80%;
    padding: 15px;
    color: var(--White);
    background-color: var(--Grey);
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    font-family: "Inter";
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    background-color: var(--Green);
    color: var(--Off-Black);
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 80%;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        max-width: 22%;
    }
}